@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header#top {
    display: flex;
    justify-content: space-between;
    background-color: #708d81;
    color: #fff;
    padding: 10px;
}

header#top p {
    font-size: 1.1em;
}

main {
    display: flex;
    justify-content: space-between;
    width: 99vw;
    height: 95vh;
    background-color: #8d0801;
    overflow: hidden;
}

section#lista {
    width: 750px;
    height: 650px;
    background-color: #f4d58d;
    border-radius: 10px;
}

div.main-box{
    margin-top: 400px;
}
div.main-box input {
    height: 80px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #8d0801;
}

div#matricula input {
    font-size: 2em;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 5px;
}

div#matricula input#botao_entrar {
    background-color: #8d0801;
    color: #fff;
    cursor: pointer;
}

div#matricula input#botao_entrar:hover {
    background-color: #c02018;
    
}

div#matricula input::-webkit-outer-spin-button,
div#matricula input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#lista_compras {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 730px;
    height: 630px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    overflow-y: auto;
}

div#informeCpf {
    text-align: center;
}

div#informeCpf button {
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

div#informeCpf button#s_cpf {
    background-color: rgb(8, 98, 8);
}
div#informeCpf button#s_cpf:hover {
    background-color: rgb(16, 154, 16);
}

div#informeCpf button#n_cpf {
    background-color: #9a0606;
}
div#informeCpf button#n_cpf:hover {
    background-color: #ff0000;
}

div#campoCpf {
    display: none;
    text-align: center;
}

div#campoCpf input{
    width: 300px;
    height: 40px;
    margin-left: 10px;
    font-size: 1.3em;
}

div#campoCpf input::-webkit-outer-spin-button,
div#campoCpf input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#campoCpf button {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #8d0801;
    color: #fff;
    font-size: 1em;
    
}
div#campoCpf button:hover {
    background-color: #757575;
    color: #8d0801;
    cursor: pointer;
}

div#codItems input::-webkit-outer-spin-button,
div#codItems input::-webkit-inner-spin-button,
div#quantItems input::-webkit-outer-spin-button,
div#quantItems input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#quantItems {
    display: none;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    
}
div#quantItems input{
    width: 100px;
    height: 50px;
    font-size: 1.6em;
}
.buttons {
    display: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    height: 50px;
    width: 80px;
    cursor: pointer;
    margin-left: 10px;
}
#entrarqtdCod {
    background-color: green;

}
#entrarqtdCod:hover {
    background-color: rgb(31, 194, 31);
}

#fecharNota {
    background-color: #ea8725;
}

#fecharNota:hover {
    background-color: #ff0000;
}

#cancelarItem {
    background-color: #EF4444;
}

div#codItems {
    display: none;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
}
div#codItems input{
    height: 50px;
    width: 200px;
    font-size: 1.4em;
}



section#status{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 50px 0px;
    width: 500px;
    height: 300px;
    background-color: #f4d58d;
    border-radius: 10px;
}

div#conteinerCancelar {
    display: none;
    position: relative;
    left: 220px;
    bottom: 345px;
    
    background-color: #f4d58d;
    padding: 10px;
    border-radius: 10px;
}

div#conteinerCancelar input {
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

div#conteinerCancelar button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 130px;
    background-color: #708d81;
}

div#conteinerCancelar input::-webkit-outer-spin-button,
div#conteinerCancelar input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}