@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header#top {
    display: flex;
    justify-content: space-between;
    background-color: #708d81;
    color: #fff;
    padding: 10px;
}

header#top p {
    font-size: 1.1em;
}

main {
    display: flex;
    justify-content: space-between;
    width: 99vw;
    height: 95vh;
    background-color: #8d0801;
}

section#lista {
    width: 750px;
    height: 650px;
    background-color: #f4d58d;
    border-radius: 10px;
}

section#status{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 50px 0px;
    width: 500px;
    height: 300px;
    background-color: #f4d58d;
    border-radius: 10px;
}
